{
  "presets": [
      "@babel/preset-env",//el preset de babel para trabajar con js moderno
      "@babel/preset-react"//preset de babel con react
  ],"plugins": [
		"@babel/plugin-transform-runtime"//plugin para que babel sirva con async functions
	]
}